<h1>Change Log</h1>

<p>All notable changes to this project will be documented in this file.</p>

<p>The format is based on <a href="http://keepachangelog.com/">Keep a Changelog</a>
and this project adheres to <a href="http://semver.org/">Semantic Versioning</a>.</p>

<h2>[NextRelease] - ReleaseDate</h2>

<h2>### Added</h2>

<h2>### Changed</h2>

<h2>[4.0.1] 2018.03.14</h2>

<h3>Changed</h3>

<ul>
<li>fixed bug: calling IsSet on a nil time pointer caused invalid memory address.</li>
</ul>

<h2>[4.0.0] 2018.02.20</h2>

<h3>Removed</h3>

<ul>
<li>the <code>/ui</code> endpoint, as it is now handled by the ingress.</li>
</ul>

<h3>Changed</h3>

<ul>
<li>added check that the apidoc and CHANGELOG files exist in function NewRouter, with panic if that's not the case.</li>
</ul>

<h2>[3.0.0] 2018.01.19</h2>

<h3>Added</h3>

<ul>
<li>support for performing DB initialization for testing: the function NewRouter requires a parameter.</li>
<li>renamed function DbHandler in package db to Handler, as suggested by golint</li>
</ul>

<h2>[2.14.3] 2017.12.12</h2>

<h3>Changed</h3>

<ul>
<li>added html body to the mailgun e-mail</li>
</ul>

<h2>[2.14.2] 2017.12.12</h2>

<h3>Changed</h3>

<ul>
<li>updated dependency to golang 1.9</li>
</ul>

<h2>[2.14.1] 2017.12.07</h2>

<h3>Changed</h3>

<ul>
<li>changed behavior of function BuildJwtToken to not add the ExpiresAt field, if the tokenLifetime is 0</li>
</ul>

<h2>[2.14.0] 2017.11.16</h2>

<h3>Added</h3>

<ul>
<li>function ParsePaginationRequest</li>
<li>unit test for ParsePaginationRequest</li>
</ul>

<h3>Changed</h3>

<ul>
<li>fixed bug: the <code>total</code> query parameter wasn't parsed in function GetPaginationRequest</li>
</ul>

<h2>[2.13.0] 2017.11.10</h2>

<h3>Added</h3>

<ul>
<li>function HandleError for wrapping different kind of errors to standard HTTP response codes</li>
<li>function GeneratePassword for generating random passwords</li>
</ul>

<h2>[2.12.0] 2017.11.01</h2>

<h3>Added</h3>

<ul>
<li>function env.GetIntFromEnv</li>
</ul>

<h2>[2.11.0] 2017.09.14</h2>

<h3>Added</h3>

<ul>
<li>function GetSliceFromQuery for extracting multiple values from the query of an HTTP request.</li>
</ul>

<h2>[2.10.0] 2017.08.15</h2>

<h3>Added</h3>

<ul>
<li>function StartServer</li>
</ul>

<h2>[2.9.1] 2017.07.13</h2>

<h3>Added</h3>

<ul>
<li>support for the /ui endpoint in the router</li>
</ul>

<h3>Changed</h3>

<ul>
<li>fix for JIRA GOL-2: removed workaround for k8s libraries not ported to dependency.</li>
</ul>

<h2>[2.9.0] 2017.06.21</h2>

<h3>Added</h3>

<ul>
<li>functions Atouint and GetUintFromURL</li>
</ul>

<h2>[2.8.0] 2017.06.19</h2>

<h3>Added</h3>

<ul>
<li>added function Min(int, int)</li>
</ul>

<h3>Changed</h3>

<ul>
<li>removed input argument length from GetStartIndex and GetStopIndex</li>
</ul>

<h2>[2.7.1] 2017.06.19</h2>

<h3>Changed</h3>

<ul>
<li>fixed bug in function GetStartIndex: wrong value would be returned if Skip was larger than the length of the slice to be paginated</li>
</ul>

<h2>[2.7.0] 2017.06.19</h2>

<h3>Added</h3>

<ul>
<li>functions GetStartIndex and GetStopIndex for Pagination objects.</li>
</ul>

<h2>[2.6.0] 2017.06.01</h2>

<h3>Added</h3>

<ul>
<li>function GetRequestProtocol</li>
</ul>

<h2>[2.5.0] 2017.05.19</h2>

<h3>Added</h3>

<ul>
<li>function GetBaseURL for returning the URL from a given HTTP request</li>
</ul>

<h2>[2.4.0] 2017.05.15</h2>

<h3>Added</h3>

<ul>
<li>added methods DecodeAndValidateJSON and DecodeJSON</li>
</ul>

<h2>[2.3.1] 2017.05.15</h2>

<h3>Removed</h3>

<ul>
<li>JIRA GOL-7: removed the ACCESS_TOKEN environment variable</li>
</ul>

<h2>[2.3.0] 2017.05.11</h2>

<h3>Added</h3>

<h3>Changed</h3>

<ul>
<li>replaced api.Date with time.Time and added support for serialization to JSON and SQL</li>
</ul>

<h2>[2.2.3] - 2017-04-25</h2>

<h3>Added</h3>

<ul>
<li>function GetBoolFromQuery: returns a boolean value from the given query parameter</li>
</ul>

<h3>Changed</h3>

<ul>
<li>fix for JIRA CM-6: listOwnUserCoupons supports query parameter validOnly</li>
</ul>

<h2>[2.2.2] - 2017-04-24</h2>

<h3>Changed</h3>

<ul>
<li>fix for JIRA DM-15</li>
</ul>

<h2>[2.2.1] - 2017-04-14</h2>

<h3>Changed</h3>

<ul>
<li>Removed required annotation for the ACCESS_TOKEN environment variable.</li>
</ul>

<h2>[2.0.0] - 2017-01-13</h2>

<h3>Changed</h3>

<ul>
<li>Removed function ExtractScopes</li>
<li>Fixed bug JIRA DP-120: nil pointer error when invalid JWT token provided</li>
</ul>

<h3>Added</h3>

<ul>
<li>ExtractScopes function in api package</li>
<li>GetBoolFromEnv function in api package</li>
</ul>

<h2>[1.0.1] - 2017-01-13</h2>

<h3>Added</h3>

<ul>
<li>InternalServerError function in api package</li>
<li>CHANGELOG.md (this file)</li>
</ul>
